<!-- eshke ander ham "html" and "js" ka mix ek code create karenge in the form of tamplete
eshke under ham "html" ka code hi likhenge jo ki puri ki puri file render ho jayegi jake  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is home page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, id ea nisi natus aspernatur quae quidem enim, deserunt autem ut reiciendis, provident necessitatibus laudantium numquam. Fuga, aperiam! Eaque, vero animi!</p>

    <button>Click me!</button>
</body>
</html>