<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts by id</title>
</head>
<body>
    <h1> Showing your post details </h1>
    <h2> Post id: <%= post.id %></h1>

    <div>
        <h2>@<%= post.username %></h2>
        <h3><%= post.content %></h3>
    </div>
</body>
</html>